<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" /> <!-- 절대 경로로 변경 -->
  </head>
  <body>
      <%- include('includes/header') %>
      <%- include('includes/side-drawer') %>
    <main>
      <h1>title of the restaurant</h1>
      <p>cuisine | address</p>
      <p>description of the restaurant</p>
      <p><a href="">View Website</a></p>
    </main>
  </body>
</html>