<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Make the world a tastier place!</h1>
      <p>
        Eatwell is a website for food enthusiasts that allows you to share and
        discover amazing restaurants from all over the world!
      </p>
      <p>
        Start sharing right away!
      </p>
    </main>
  </body>
</html>